Repository Flashvita/Projectvictory: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update config, update backend, update frontend

update config:
  stage: update
  tags:
  - shell
  script:
  - sudo cp -f nginx.conf ~/projectvictory-test/
  - sudo cp -f docker-compose.yaml ~/projectvictory-test/

update backend:
  stage: update
  tags:
  - shell
  script:
  - sudo cp -r Backend/victory/. ~/projectvictory-test/backend

update frontend:
  stage: update
  tags:
  - shell
  script:
  - sudo cp -r Frontend/. ~/projectvictory-test/frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update docker-compose.yaml
  docker-compose.yaml
Due: update config

baseUrl https
  Frontend/src/axios.js
  Frontend/src/components/Articles/ArticleCreate.vue
  Frontend/src/components/Articles/ArticleItemPage.vue
  Frontend/src/components/Articles/ArticleList.vue
  Frontend/src/components/Articles/CategoryCreate.vue
  Frontend/src/components/Articles/MenuArticles.vue
  Frontend/src/store/articleModule.js
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

refactor baseURL
  Frontend/.env
  Frontend/src/api/mockCatecory.txt
  Frontend/src/axios.js
  Frontend/src/components/Articles/ArticleItem.vue
  Frontend/src/components/Articles/ArticleItemPage.vue
  Frontend/src/components/Articles/MenuArticles.vue
  Frontend/src/components/Footer.vue
  Frontend/src/components/UI/MyPagination.vue
  Frontend/src/store/articleModule.js
  Frontend/src/store/authModule.js
Due: update frontend

Filters for Posts
  Backend/victory/mainapp/filters.py
  Backend/victory/mainapp/serializers.py
  Backend/victory/mainapp/utils.py
  Backend/victory/mainapp/views.py
  Backend/victory/victory/settings.py
Due: none

added article search
  Frontend/src/App.vue
  Frontend/src/components/Articles/ArticleSearch.vue
  Frontend/src/components/Articles/MenuArticles.vue
  Frontend/src/components/UI/MyInput.vue
  Frontend/src/layout/LayoutArticles.vue
  Frontend/src/store/articleModule.js
Due: none

added article search +version
  Frontend/src/components/Footer.vue
Due: none

article menu adaptive
  Frontend/src/components/Articles/CategoryCreate.vue
  Frontend/src/components/Articles/MenuArticles.vue
  Frontend/src/components/Footer.vue
  Frontend/src/components/UI/MyModal.vue
  Frontend/src/layout/LayoutArticles.vue
Due: none

added feedback form
  Frontend/src/App.vue
  Frontend/src/components/Articles/ArticleSearch.vue
  Frontend/src/components/Articles/CategoryCreate.vue
  Frontend/src/components/Main/Feedback.vue
  Frontend/src/components/UI/MyInput.vue
  Frontend/src/components/UI/MySelect.vue
  Frontend/src/components/UI/MyTextarea.vue
  Frontend/src/store/feedbackModule.js
  Frontend/src/store/index.js
Due: none

Update serializers for Team
  Backend/victory/mainapp/admin.py
  Backend/victory/mainapp/models.py
  Backend/victory/mainapp/serializers.py
  Backend/victory/mainapp/urls.py
  Backend/victory/mainapp/utils.py
  Backend/victory/mainapp/views.py
  Backend/victory/media/images/users/2022/07/07/free1.JPG
  Backend/victory/victory/settings.py
Due: none

refactor article
  Frontend/src/components/Articles/ArticleCreate.vue
  Frontend/src/components/Articles/ArticleItem.vue
  Frontend/src/components/Articles/ArticleItemPage.vue
  Frontend/src/components/Articles/ArticleList.vue
  Frontend/src/components/Articles/MenuArticles.vue
  Frontend/src/components/Navbar/Navbar.vue
  Frontend/src/components/UI/MyButton_link.vue
  Frontend/src/layout/LayoutArticles.vue
  Frontend/src/router/router.js
  Frontend/src/store/articleModule.js
  Frontend/src/store/authModule.js
Due: none

Update Backend/victory/mainapp/models.py
  Backend/victory/mainapp/models.py
Due: none

Update Backend/victory/mainapp/views.py
  Backend/victory/mainapp/views.py
Due: none

Create Customer
  Backend/victory/customers/__init__.py
  Backend/victory/customers/admin.py
  Backend/victory/customers/apps.py
  Backend/victory/customers/models.py
  Backend/victory/customers/serializers.py
  Backend/victory/customers/tests.py
  Backend/victory/customers/urls.py
  Backend/victory/customers/views.py
  Backend/victory/mainapp/filters.py
  Backend/victory/mainapp/models.py
  Backend/victory/mainapp/serializers.py
  Backend/victory/mainapp/urls.py
  Backend/victory/mainapp/utils.py
  Backend/victory/mainapp/views.py
  Backend/victory/victory/settings.py
  Backend/victory/victory/urls.py
Due: none

Calculator
  Backend/victory/calculator/__init__.py
  Backend/victory/calculator/admin.py
  Backend/victory/calculator/apps.py
  Backend/victory/calculator/models.py
  Backend/victory/calculator/serializers.py
  Backend/victory/calculator/tests.py
  Backend/victory/calculator/urls.py
  Backend/victory/calculator/views.py
  Backend/victory/customers/admin.py
  Backend/victory/customers/models.py
  Backend/victory/customers/serializers.py
  Backend/victory/customers/urls.py
  Backend/victory/customers/views.py
  Backend/victory/mainapp/admin.py
  Backend/victory/mainapp/migrations/0001_initial.py
  Backend/victory/mainapp/migrations/0002_contact.py
  Backend/victory/mainapp/migrations/0003_post.py
  Backend/victory/mainapp/migrations/0004_post_is_private.py
  Backend/victory/mainapp/models.py
  Backend/victory/mainapp/serializers.py
  Backend/victory/mainapp/urls.py
  Backend/victory/mainapp/views.py
  Backend/victory/requirements.txt
  Backend/victory/victory/settings.py
  Backend/victory/victory/urls.py
Due: update backend

Config decouple
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/projectvictory.iml
  .idea/vcs.xml
  Backend/victory/calculator/views.py
  Backend/victory/requirements.txt
  Backend/victory/victory/settings.py
Due: update backend

Path conditions:
  update config: any of: nginx.conf, docker-compose.yaml
  update backend: any of: Backend/victory/*
  update frontend: any of: Frontend/*
